.root-container {
     height: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: column;
   }
   
   /* ************************NAVBAR********************* */
   .navbar {
     width: 100%;
     height: 2.5em;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
   }
   .navbar-logo {
     display: flex;
     align-items: center;
 }
 
 .navbar-logo img {
     height: 40px;
     margin-right: 10px;
 }
 .navbar-logo span{
     font-weight: bolder;
     font-size: 30px;
 }

 .signout-button {
     background-color: #ff4d4d;
     color: white;
     border: none;
     padding: 8px 16px;
     cursor: pointer;
     border-radius: 4px;
     transition: background-color 0.3s;
     margin-right: 20px;
 }
 
 .signout-button:hover {
     background-color: #e60000;
 }
 /* ***************************SIDEBAR AND OUTLET************************* */
   .content-container {
     display: flex;
     flex: 1;
     overflow: hidden; 
   }
   
   .sidebar {
     width: 200px; 
     height: 100vh;
     padding: 15px;
     overflow-y: auto; 
   }

   /* **********************OUTLET******************************** */
   
   .outlet-container {
     flex: 1;
     padding: 20px;
     overflow-y: scroll; 
    }

   /* *****************************COLOR PICKER******************** */
   .color-picker-container {
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 1000; /* Ensure it appears above other components */
 }
 
 .color-picker-input {
     width: 30px;
     height: 30px;
     border: none;
     cursor: pointer;
     opacity: 0.7;
     transition: opacity 0.3s;
 }
 
 .color-picker-input:hover {
     opacity: 1;
 }
 