:root {
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary-color: rgba(118, 177, 247, 1);
  --secondary-color: #ffffff;
  --danger-color: rgb(200, 34, 34);
}
body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}
.font-primary{
  font-family: var(--primary-font);
}
.color-light{
  color: var(--secondary-color);
}
.color-dark {
  color: black;
}
.color-danger{
  color: var(--danger-color);
}
.bg-color-danger{
  background-color: var(--danger-color);
}
.bg-color-prim{
  background-color: var(--primary-color);
}
.bg-color-mute{
  background-color: rgba(200, 199, 199, 0.844);
}
.color-primary{
  color: var(--primary-color);
}
.box-shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box-shadow-2{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.box-shadow-3{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.bold{
  font-weight: bold;
}
.bolder{
  font-weight: bolder;
}

.text-dec-none{
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.text-center{
  text-align: center;
}

.b-r-r{
  border-top-right-radius: 10px;
}
.b-r-l{
  border-top-left-radius: 10px;

}
.display-1{
  font-size: 100px;
}
.loader-cell {
    text-align: center; 
}
.loader {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid var(--primary-color); 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* ***************************USER LOGIN FORM *************************** */

.page-center{
    width: 100%;
    height: 100vh;
    display: flex;
    place-items: center;
    place-content: center;
}

.page-center-2{
  width: 100%;
  height: 90vh;
  display: flex;
  place-items: center;
  place-content: center;
  margin-top: -10%;
}


.login-box{
  height: fit-content;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.login-box-inner{
  width: 100%;
  
}
.login-field{
  all: unset;
  width: 90%;
  height: 2em;
  font-size: large;
  padding: 20px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 3px solid var(--primary-color);
}

.login-box button{
  width: 97%;
  height: 3em;
  font-size: large;
  margin-bottom: 30px;
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  margin-top: 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.login-box button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.login-box div a{
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .login-box{
    width: 30%;
    /* height: 40%; */
  }
}


